

		 <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden; visibility: hidden;">
			<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
				<% (1..3).each do |i| %>
					<div data-p="225.00" style="display: none;">
						<%= image_tag ("slider/" << i.to_s << ".jpg"), :style => "top: 0px; left: 0px; width: 1300px; height: 500px; position: absolute;" %>
						<div style="position: absolute; top: 30px; left: 30px; width: 480px; height: 120px; font-size: 50px; color: #ffffff; line-height: 60px;">TOUCH SWIPE SLIDER</div>
					</div>
				 <%end%>
			</div>



			<!-- Arrow Navigator -->
			<span data-u="arrowleft" class="jssora22l" style="top:0px;left:12px;width:40px;height:58px;" data-autocenter="2"></span>
			<span data-u="arrowright" class="jssora22r" style="top:0px;right:12px;width:40px;height:58px;" data-autocenter="2"></span>
		</div>


		<section class="wrapper style1">
			<div class="container">
				<div class="row 200%">
					<section class="4u 12u(narrower)">
						<div class="box highlight">
							<i class="icon major fa-paper-plane"></i>
							<h3>This Is Important</h3>
							<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
						</div>
					</section>
					<section class="4u 12u(narrower)">
						<div class="box highlight">
							<i class="icon major fa-pencil"></i>
							<h3>Also Important</h3>
							<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
						</div>
					</section>
					<section class="4u 12u(narrower)">
						<div class="box highlight">
							<i class="icon major fa-wrench"></i>
							<h3>Probably Important</h3>
							<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
						</div>
					</section>
				</div>
			</div>
		</section>


