<div class="row center-xs">
  <div class="col-xs-8 col-md-6 ">
    <div class="box text-left">
        <h1>Editing Showcar</h1>

        <%= render 'form' %>

        <%= link_to 'Show', @showcar %> |
        <%= link_to 'Back', :controller => 'templates', :action => 'CMS' %>
    </div>
  </div>
</div>
